body { 
  margin: 0; 
  padding: 0;
  background-color: #151A35; 
  font-family: Arial, Helvetica, sans-serif;
  /* overflow: hidden; */
}

.title {
  color: whitesmoke;
  text-align: center;
}

.main-info {
  display: flex;
}

.main-info > div {
  background-color: #1B233F;
  margin: 1em;
  text-align: center;
  flex-basis: 100%;
  border-radius: 10px;
}

.info h1, .graph-1 h1, .graph-2 h1 {
  color: aliceblue;
  font-size: 1em;
  margin: 1em;
}

.info h2 {
  color: orange;
  font-size: 1.3em;
  font-weight: 800;
  letter-spacing: 3px;
}

.info p, .title p {
  color: darkgray;
  font-size: 0.7em;
  font-weight: 700;
}

.div-for-dropdown {
  padding: 12px 20em;
}

.main-graph {
  display: flex;
  margin: 0.6em;
}

.main-graph > div {
  background-color: #1B233F;
  margin: 1em;
  text-align: center;
  border-radius: 10px;
  /* padding: 1em; */
}

.graph-1 {
  flex-basis: 25%;
}

.graph-2 {
  flex-basis: 75%;
}

.graph-1 p {
  color: lightgray;
  font-size: 0.8em;
  text-align: left;
  margin-left: 1em;
  margin-top: 3em;
  font-weight: 700;
}

#line-chart {
  margin-top: 0;
  width: 100%;
}

@media screen and (max-width: 960px) {

  .title h1 {
    font-size: 1.5em;
  }

  .main-info, .main-graph {
    display: grid;
    grid-template-columns: (3, 1fr);
  }

  .div-for-dropdown {
    padding: 0 4em;
  }
}